
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>SUSE CaaS Platform</title>
  <link href="data:image/png;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAABCQkIAQkJCAEJCQgBCQkIA////Jv///4D///+z////5v///+b///+z////gP///yZCQkIA
  QkJCAEJCQgBCQkIAQkJCAEJCQgD///8B////cOry7feHtJ3/UpNy/x90SP8hdUn/U5Ry/4q2n//y
  9/X2////cP///wFCQkIAQkJCAEJCQgD///8B////tcLZzf8meE3/Dmk6/w5pOv8OaTr/Dmk6/w5p
  Ov8OaTr/KntR/77Wyv////+1////AUJCQgBCQkIA////cPf6+f+BsZj/eKuR/4y3of+dwq//ocWz
  /5zBrv+QuqX/ZJ+A/y59VP8Pajv/w9rO/////3BCQkIA////Jv////b/////////////////////
  ///////////////////////////+/v7/sM6+/0KJZP/0+Pb2////Jv///4D/////////////////
  /////////8Pazv9uqov/U513/zePYv8cfkv/Nold/5S9qP96rJL/lL2o/////3////+z////////
  /////////////8nf1P8hgVD/hb2g/9Xp3//l8ev/+Pv5/8vj1/9Yn3r/GHJD/16bfP////+z////
  5v/////////////////////Z6uH/9/v5//////+d0Lb/NKBp/z2hbv/E4dL//v7+/2Slg/8sfFP/
  ////5v///+b////////////////////////////////v+PP/Pqxz/67Xwv8Rhkr/O6Br//////9k
  qoX/MIJY/////+b///+z////////////////////////////////4fLp/067gv/r9fD/fb6c/z6q
  c//h8en/FIJJ/2Okgv////+z////gP////////////////////////////////////9xzp7/T8aJ
  /z66ev+t3cT/db+Z/xGDSP+Zxa7/////f////yb////2////////////////////////////////
  /////+D26v+759H/dMac/xORUf85mGf/+Pv69v///yZCQkIA////cPb6+P9wp4v/z+TZ///////0
  +vf/webT/3bNoP8stW7/Fadb/xSbVf8XkVH/0Obb/////3BCQkIAQkJCAP///wH///+1w9nO/1qg
  fP80lGL/FI5O/xOXU/8Un1f/FKFY/xSdVv87pm7/0Ojc/////7X///8BQkJCAEJCQgBCQkIA////
  Af///3Dl7+r3ncmy/2uzjv84oGr/OqVu/2i7kP+c0bb/+Pz69v///3D///8BQkJCAEJCQgBCQkIA
  QkJCAEJCQgBCQkIA////Jv///4D///+z////5v///+b///+z////gP///yZCQkIAQkJCAEJCQgBC
  QkIA+B8AAPAPAADAAwAAwAMAAIABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAABAACAAQAAwAMAAMAD
  AADwDwAA+B8AAA==" rel="icon" type="image/png"/>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <style>
    * {
      box-sizing: border-box;
    }
  
    body {
      margin: 0;
    }
  
    .dex-container {
      color: #333;
      margin: 45px auto;
      max-width: 500px;
      min-width: 320px;
      text-align: center;
    }
  
    .dex-btn {
      border-radius: 4px;
      border: 0;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      font-size: 16px;
      padding: 0;
    }
  
    .dex-btn:focus {
      outline: none;
    }
  
    .dex-btn:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: none;
    }
  
    .dex-btn-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      border-radius: 4px 0 0 4px;
      float: left;
      height: 36px;
      margin-right: 5px;
      width: 36px;
    }
  
    .dex-btn-icon--google {
      background-color: #FFFFFF;
      background-image: url(../static/img/google-icon.svg);;
    }
  
    .dex-btn-icon--local {
      background-color: #84B6EF;
      background-image: url(../static/img/email-icon.svg);
    }
  
    .dex-btn-icon--coreos {
      /* B&W CoreOS SVG logo */
      background-image: url(../static/img/coreos-icon.svg);
    }
  
    .dex-btn-icon--github {
      background-color: #F5F5F5;
      background-image: url(../static/img/github-icon.svg);
    }
  
    .dex-btn-icon--gitlab {
      background-image: url(../static/img/gitlab-icon.svg);
      background-size: contain;
    }
  
    .dex-btn-icon--bitbucket {
      background-color: #205081;
      background-image: url(../static/img/bitbucket-icon.svg);
    }
  
    .dex-btn-icon--ldap, .dex-btn-icon--tectonic-ldap {
      background-color: #84B6EF;
      background-image: url(../static/img/ldap-icon.svg);
    }
  
    .dex-btn-icon--saml {
      background-color: #84B6EF;
      background-image: url(../static/img/saml-icon.svg);
    }
  
    .dex-btn-icon--linkedin {
      background-image: url(../static/img/linkedin-icon.svg);
      background-size: contain;
    }
  
    .dex-btn-icon--microsoft {
      background-image: url(../static/img/microsoft-icon.svg);
    }
  
    .dex-btn-text {
      font-weight: 600;
      line-height: 36px;
      padding: 6px 12px;
      text-align: center;
    }
  
    .dex-subtle-text {
      color: #999;
      font-size: 12px;
    }
  
    .dex-separator {
      color: #999;
    }
  
    .dex-list {
      color: #999;
      display: inline-block;
      font-size: 12px;
      list-style: circle;
      text-align: left;
    }
  
    .dex-error-box {
      background-color: #DD1327;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      max-width: 320px;
      padding: 4px 0;
    }
  
    .dex-error-box {
      margin: 20px auto;
    }
  
    .dex-btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-shadow: none;
    }
  
    @-webkit-keyframes fadeOut {
      0%   { opacity: 1; }
      90%  { opacity: 1; }
      99.9% {
        height: 24px;
        margin-bottom: 15px;
        padding: 4px 0;
      }
      100% {
        height: 0px;
        padding: 0;
        margin-bottom: 0px;
        opacity: 0;
      }
    }
    @keyframes fadeOut {
      0%   { opacity: 1; }
      90%  { opacity: 1; }
      99.9% {
        height: 24px;
        margin-bottom: 15px;
        padding: 4px 0;
      }
      100% {
        height: 0px;
        padding: 0;
        margin-bottom: 0px;
        opacity: 0;
      }
    }
  
    .dex-error-box {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
      max-width: 100%;
      border-radius: 4px;
      margin: 0 auto 15px;
      animation: fadeOut 5s 1;
      -webkit-animation: fadeOut 5s 1;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  
    .theme-body {
      background-color: #003258;
      color: #dcddde;
      font-family: 'Source Sans Pro', Helvetica, sans-serif;
    }
  
    .theme-navbar {
      height: 60px;
      background-color: #00243e;
    }
  
    .theme-navbar__logo-wrap {
      height: 100%;
      width: 1170px;
      margin: auto;
      overflow: hidden;
    }
  
    .theme-navbar__logo {
      height: 60px;
    }
  
    .theme-heading {
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 32px;
      margin-top: 0;
      color: #dcddde;
    }
  
    .dex-container,
    .theme-panel {
      max-width: 360px;
      color: #dcddde;
    }
  
    .theme-btn--primary {
      width: 100%;
      color: #fff;
      background-color: #00c081;
      border-color: #00a770;
    }
  
    .theme-btn--primary:hover {
      background-color: #008d5f;
      border-color: #006947;
    }
  
    .theme-form-row {
      display: block;
      margin: 0 auto 15px;
    }
  
    .theme-form-input {
      background: #002644;
      border: 0;
      border-radius: 4px;
      box-shadow: 0px 1px 0px 0px #004981, 0px 1px 0px 0px #001b2f inset;
      -webkit-box-shadow: 0px 1px 0px 0px #004981, 0px 1px 0px 0px #001b2f inset;
      -moz-box-shadow: 0px 1px 0px 0px #004981, 0px 1px 0px 0px #001b2f inset;
      color: #a7a9ac;
      margin-bottom: 1em;
      -webkit-font-smoothing: antialiased;
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
    }
  
    .theme-form-input:focus,
    .theme-form-input:active {
      color: #fff;
      outline: 0;
    }
  
    .theme-form-label {
      display: none;
    }
    </style>
      
  <!-- Prism -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js" integrity="sha256-jTGzLAqOAcOL+ALD2f2tvFY7fs6dwkOeo88xiuVHaRk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-bash.min.js" integrity="sha256-Ch5rv5tgAdVMCh7Wqb0UOcXkQAHNFSezi+0v/0z6xfw=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism-tomorrow.min.css" integrity="sha256-4S9ufRr1EqaUFFeM9/52GH68Hs1Sbvx8eFXBWpl8zPI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/plugins/toolbar/prism-toolbar.min.css" integrity="sha256-xY7/SUa769r0PZ1ytZPFj2WqnOZYaYSKbX1hVTiQlcA=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/plugins/toolbar/prism-toolbar.min.js" integrity="sha256-OvKYJLcYRP3ZIPilT03rynyZfkdGFwzCwU82NB4/AT4=" crossorigin="anonymous"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" integrity="sha256-s+Z1sBUQFaaw7xeAnWb/oS8gBM4MEKiEWMRJ0p+/xbc=" crossorigin="anonymous"></script>
</head>
<body class="theme-body">
    <div class="theme-navbar">
        <div class="theme-navbar__logo-wrap">
            <img class="theme-navbar__logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAABQCAYAAACj6kh7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
            AAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABHySURB
            VHic7Z15tB9Flce/l4RFTZBENkEIGQbC4gKK2xDQgICg4IKCgKOATFAERVFR4DAg6hzHcUMBIQxw
            OOjIJg4OjEAIAwNqFCbCGFYxLIZFskAgkPV95o9b7a9ev+7+be8lgbmfc955vdyqvl3ddbvq1q36
            SUEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQ
            BEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEwMtjqViAI1jSAdSTtnnYf
            N7PZq1OfAuDNcr02kvS4pOvN7J7Vq9WqZXSvCYENJO0kL7yl8gKcbWbPN6RZW9KYtLvEzF7o4Dqv
            kLRO2l1kZisbZNdNOm0mN8Z/kXSfmT3V5hovl7RuO11KrDSzRV2m6QtgK0mvlfQySc9LekjS3WbG
            qtRjOAAmSdpGfi8LJT1iZvf3mef6kkY1iCxtej8zNpB0Q9q+SNIR/ejVL8A4ST+R9O7SqeMl/b8y
            WF0D7AZcD6xkKM8ClwB/W5N2r0z2qx1e79+yNDvWyGwBXAA8X6HTCmA6sHfDNX5Qka4dd3VWYv0B
            rAUcCcyu0eMx4BTgZatCn34A1gFOBB6puZd7gS/gH7Ze8r+zg+e2BPgV8BXgVTX5bJzJX9jfXfcP
            8J+ZPsuAPwB3AR9c3bqt0QAnMdRQrQCWl44tBj5WkX7YDRawJ/B0zYtZ5hxgSDeYNdRgARsAN1Zc
            +4WKY78HNhtpnXoFNwK3d/icZvVyL3RmsHKeAvat0bVgRAwW8B5gKvCJNnJvyXS5H9h6JPR5yQF8
            PCu4+cCxwETS1xCYAHwZeC7JLAf2KuUxrAYL2AY3juCG8zvA60mtDWAccCjwYJbH1yuukRus44F3
            dfD3tt5Ls6P7Xgf4dabX3cBBwCvT+XWBKQw2aL/Hu8VrFMCo0r3MAPYANkzn18Zb7r/IZO7Au+rd
            XKcwWAM1z2xv4Bjgluw6S4DdSvmsCoM1PeXf6BbB61TBwSOhy0uO9MLNzR7w6xpk34o3W4tKZtm5
            4TZYl2TnjmnIYzzwQJJbjvuC8vO5wZrciV4jDfDVTKfrgfVq5NYCrshkT1zVurYDODDT75dArZ8J
            mJbJfqbL6xQGq9bPmcmelF3nbmCt7NyaZLC+l+my/Ujo8mJirfYiktzRWzTRrzWz/60TNLOZcgeh
            JG0vabc62WFgn/R/oaRzG3RaIOn0tDta0pEjqFPfAOMlnZB250k6xMyWVMma2YCkY+UDH5J0DBXd
            3tVM7j/8VtPAiaQvSVqWtv9hpBQys29Iuintbi9pRFvMfZD78zoZMHhJ0+ko4UbZ9rwO5G+V9PG0
            vYOkW7pRqhNSpRyfdhe2qQSFTgU7DLc+w8xHJBXdobPMbH6TsJk9Adwg6b2StpR/YIZ8VIDNJf29
            pHfJP0CjJf1Z0gxJ08zsyabr4N3/gyQdIGmSpLGSFki6Q9JFZvabmqQbZtuN74+ZLQRmS9pZ0iRg
            tJmtaErTB5dLmpK23yTpV90kxkfvDpO0r6QJktaT9FjKZ5qZPViSP1zS29Pudun/2kDxsV1sZp/H
            Rzu/lY7lLf5vAM+l7WvM7OoKncbI694+kibKR03/LOk6SReY2cKae9lVUuF3/q7cOH5Z3uBYIeko
            M7sDH939fJI7R9If5O/Ugel6JukRedleVNRL4DWSjpK0h6RN5R+lu5LM9VU69QywY9Ysnd3UpE/y
            6+D+o3F5V4bh7xI+lo4PAFu2yccyncaWzq1RXULgqkyf2u53Kc1U3Kl9OyXfYTp/HC3/YhULgH2q
            8k7p3wjc05B+APgu1YMaP8zk2nbzgLHZs+q4tUgXXcIk/4FMr1Oz4227hHg396mG8ngBOLKU5sIG
            eYD5SW7TNnIAp1fotCcwryHNPOCAmvs5MpP7PO6nznl3ktujJPc/Dde7HvdPfgh4pkHum508L6nz
            Ftbdku6Tf1V3kPRD4HgzW1olbGbL1GrWjyRXSTpGbtUvB95vZo/X6IS86/hioBgJekFe9m0xs/Mk
            nVd1DjhO0plpd56kH6V8x0jaS9KHJY2T9DNgRzN7qJR+G0nTk8xKSZdKulHSEnlr7tOS1pfHBT0k
            6fslFa5KMpL0deBOM7u54V6ebXvDw8Ors+0FnSYC3isvg1GSFks6X9Lt8vr0d3KXw3qSpgH3m1nR
            ur9WUtGK/Yi8VbZC0rfTsaLLt1hSUYn3lrc2JW/RFLF/eY9BwHsk/TzpsFzulrlFXjd2l3SopFdJ
            uhI4sKp1lvFP8tjHRZLulTQgqeqZfFPuVrpW0q/TvbxB/j6Nkr9bl8pb/qMl/bukmSnvneQt9bUk
            fQm43sxubNCpO/BRljx84UHgaGpiWWryGO4W1qbAn7Pzi3Bn9bZd3tua1sL6S9JlzjDkNR6Pjyue
            2SYVMidm9/+divOFU38AeF/F+e1oxcDNpbqVdVl2jQHgUnyUs7G13uW9dtvCykdY354dr21h4S31
            OencAmCIe4HBgwyVhoHOne5nZXlNqJEZT6u3sSi/l0xmcvYezAc2Lp3PW1gDwGlUxPYxuIW1DDfe
            ZZl9Uh4Fy4H9KuSOyWR+Uj7fN8D7gIUMZhlwLXAE7ixuSj8ScViT8EC6MnfgFbFt3AqDDdYi/EVs
            +vtcJ7r3Aj7qV8S69R3rBexCq6s4tUZmbVrxUDMrzl+X0l/ZcJ18xHZImQPrARdVPKfHgDOB3clG
            6nq8144MVirj0zId7iEznDQbrE2z8qx9h4H7UvpK/yPDa7C+kskc3ZDX0Znc6aVzucGqHRllsME6
            u0FuRiZXbnEXMqNodT0fqMurL9LD/D5eccssBc4H/qYm7UhFuq+Dx089QDXTgXc2XKPbwNGTavJZ
            F4+VOg2Pn9m9Sq7N/Y7OrjOr2/S9QquC/anH9P+Y6V074oa31GdQPVNiDvBJfC5fLzrkcVhTK/5O
            wA3Avdk1lwLvKOXTd1gDcE2Wx5BWJMNrsIr7XkBDHB7+YXoyyd5TOpcbrA815JEbrBMa5M7M5Jp8
            o79NMs/UyeR0PZfQzP4i6bPAl+R90I/JRyTWlvdNPyHpUNzHVelTGW6Sz+x7uCXfVT5KcqDc5yJJ
            e0raEzhP0mfrQgQS35L0xzaX/F35AG4Qz5X7dmbKR/m+iH/JDq3zrVWQzwsc9vCE9ELvKB8lzJv8
            xahk4zXx7t5EuZ9tg+zUdtl2bR5mNl3S9FT5PiYfZZuUTm8l99NMBQ42s16/uqaGMJeMuZKOaPKn
            tQMYLdd/gqRXZKfyLteIhZngwbWvT7u31fmVJcnMlgM3y31Mk4BxdaOGw0A+z7bJP7g4/e/IFvU8
            +TkVzOVyZ/d4uYE4TtLr5BXhXGClmf1rr9foQSfkzshbgU/LJ4seJWn/JDJV0ljgsIYJw1dnTtKO
            AHaR9AN55Ssq8ZNmdg7wfknXArt2MvHWzFYCi+Uvf1eR3m103E7SafKPTNfzDvFJ6F+Qf5C26Fcf
            M3tY0hmSzgB2lvRRSUfL73tnSTcCu6QPZC9UVcRn5JVntnwQ4bI2H69a8KlDp0o6WIMN96omn8LU
            Seu48IuaPLzgxTIQJakPg5WTAjOnARdI+qR8lGiUvNVzhZl11NwbTlKr62pJV+Nds0vlD+gQ+Qz8
            4Yz9OFNe4cZL+qk8rmlL4Ekzex/umP2cpCHTgmpYIK+4G7UT7IRkNH+q1ooUc+RxWvPSH3JDtGFN
            +s3kqxcUDubn5KNCT6b0S+WjYz0FCZvZLEmzcIf/hfLRpS3kwb6f6iHLATNr9Kf2A/BW+chYcY0n
            5a3uojxXyj/glYsADDPrZ9udBJbmo/evqJVaQxkWg1WQgsTOAl4rN1xj5K2bS5JIHgDY6bVzuZ4C
            CM3sFuBYSVekQ4domAwWPuT/nJndCUyRdL+ZHYQ7kBfhwYVnS/ovdW6w7pJX2A2ArcphBjV6TFEr
            8v/SZASKYNGL5cZqjqTDJf13uYUJ7K8agyVpmtxYrZQHDZ5fbi0Cp6jPWQ1mNhc4SB54OFb+nHox
            WCMGPnJ2mdxYLZAb+l+UA5fxaTSrwmA9nW2PqZVqMS7b7rX1utroaFQGDxZdANzXYb7Ts+2J2XYe
            5TxkeL2GTbPtv65rBZxNa9Suk8j1PMajclCgR7aVdGe2vzk+n+9SSdPNbKGZPS1pdJXztYbbsu0h
            w8Y1HCXpxPSXT+c4RF75JWmqmd3SzfpZeIRysaLBRWZ2ZodrShXp98ue0xfbyaeyuj3tvpI0QXoN
            Yh/5bAJJOtnMft7BLIuR5DG1pmV1Ug+KgasVkp4YEY1GkE6HkZ+SW+ZtgInthDXY0udN0AfUara2
            jcFJrZNd0u6fUtez4PGk0zh5d6QbnWodkz2wQoMNRMEytRYelLysBzrM8xK1WpPH0mZ9qPTVL+Jc
            5kn6fXY6d4Y3rZxZ9ywmqeU0bgpirXuXHlbrOb2jRqbMSD2r4aDf8hxWkg+umBI1ucnAAxvJB6Uk
            aUZym7yo6NRgXZz+m6RvNxma1BU6PDv022IjFe5/pN2Jat/cP10eMSxJPy6d+7Falfrk9DCayFeN
            HDLK1wd/kPTWbH+umX1TPr9qCr6m1Wby1VI7atmY2aNqTSCfpPZdyZPVcvxeVHoR8wr/xqrEwIfV
            GqkrvxN5XjurAjwIMY/x+mseaXnhosW0H2mKRx3AGzI971mFUe+d0kl5vEXuhyuoqmfFcxlNn/Fn
            8kh7yT+QZzTIna7Wx7Vcn146pPiNmVlcxQ3poZTltgauzORuLxs3BkdFrwBOJ63xlMlsBpyb5fMQ
            viRz+Xr/nMk8iEcYr12SGQecmq4FHu07oSSTx2HtS2seW9PfBln6a/AYs8nAddnxu/HA1jOBT3ZZ
            5uNpLekDvuzKq0syG6cyKKKKH60oy4OyPP6ErwtenNswlX8+g+HpUvqX48G04LFTny6eKR4z9kGG
            riC6XymPd+DxTuBz7E6hNEMCDyL8QOmej+qyzLqKdG/Ipylw9I3ZuYVkMUbAGKrnbA75mOIujYJ3
            NejSSRzWaOA3mdw3yGLZ8Pp7Rnb+VkpGkuGPw/paJvfmBrmbksziOpmewCtpXijgU0hmAr8Dniid
            e4SaKHPgAAYvZ7wcX/L1VjzqOA/rnwu8viYfY/ADBV/QbxZwG/AwgyvjUnzErJxPLyuOvpCl3woP
            Rpxcod8J+BSQrrsIuHHPpx6twP2Jv6E1FaPgCXywo5zHqFQWOXOBP2Zl8wKtgMIBSgvnAZ8ppV+E
            P6dns2MPZ9tDlu8B3s/girwy5XFb+l9e3vo8ulwmh1VgsNL5S0q6PoUH3hazBVYy2IgPmcAOHJad
            X4ovvjinfM90YLCS3AQGL1Q5H/+QXsPgCdH3U+HW4aVmsFLmo4BP4V/qOhYDP6KNsxR4HT7lY6Am
            n6X4Ou2vbson5TUFX6e7Lq+V6Vp1hq8vg5Xy2Dbp8Et8PuO/4BVoGn2stw5sgs/yLy9DnZfThZTm
            hpXyGA/8rCb9bOBtDF5RoWrZ4M9RvdrDs/is/cnZsYtr9HgNcDGtVWKruB/4KD2s6cWqM1jr4stt
            r2Aoj+If5OOzY8dV5DEKn9JWpieDlWQ3wWeGVNWDZbihrQz34EVisHqOwAV2kq8htLnczzRf/gse
            t3UTd5Uewm7ySOGx8mHa+yTdlEaMutFpc0nvTDqNl0fbPijpV8kvVJdukroPhhwwsxkVee0kX8Hg
            eUkzzWxul/lWgneh9pL7/l4pD/i7V9Kt7dbLyvLYUb7+0+byspkp6eYUrLqlfMRT8l8aGlJe6WXf
            T/5rN8gHUa5Na1jlP431jJnV+gnxFtwe8tHaTeR+oSfkvsVZvf4KED4laIwk+pn5T4c/84WvXLu3
            /N1dImmWfGR4Cf7B3imJPmpmQ0bY8W7Z/vKBpcWS/mhmV5RktpP0mrR7ayeBrsAWSa8t5KEoc+T1
            qfZdxP2sxSjjXXUBu+kdKHyMD6QA4Cq5rdWKEPht3S9MAW9SWgXEzG6qkgmCIAiCIAiCIAiCIAiC
            IAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiC
            IAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCVcH/AVLrFn5Gd24QAAAAAElFTkSuQmCC"/>
          <ul class="right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </div>
    <div class="container">
        <h4 class="header center theme-heading">
        Welcome {{ .Username }}
        </h4>
        <h5 class="theme-heading">
        In order to get command-line access to the Kubernetes cluster, you will need to configure OpenID Connect (OIDC) authentication for your client.
        </h5>
        <br>
        <div class="theme-form-row">
        <h5 class="theme-heading">
        Kubectl is the Kubernetes command-line utility, please refer to the SUSE CaaS Platform documentation for installation instructions.
        </h5>
        <h5 class="theme-heading">
        Once kubectl is installed, you may
          <a href="{{ .HTTPPath }}/kubeconf">
            <button class="dex-btn theme-btn-provider">
              <span class="dex-btn-text">Download Kubeconfig</span>
            </button>
          </a>
        or execute the following:
        </div>
        <pre>
            <code class="language-bash">
echo "{{ .ClusterCA }}" \ > ca-{{ .ClusterName }}.pem
kubectl config set-cluster {{ .ClusterName }} --server={{ .APIServerURL }} --certificate-authority=ca-{{ .ClusterName }}.pem --embed-certs
kubectl config set-credentials {{ .Email }}  \
--auth-provider=oidc  \
--auth-provider-arg='idp-issuer-url={{ .IssuerURL }}'  \
--auth-provider-arg='client-id={{ .ClientID }}'  \
--auth-provider-arg='client-secret={{ .ClientSecret }}' \
--auth-provider-arg='refresh-token={{ .RefreshToken }}' \
--auth-provider-arg='id-token={{ .IDToken }}'
kubectl config set-context {{ .ClusterName }} --cluster={{ .ClusterName }} --user={{ .Email }}
kubectl config use-context {{ .ClusterName }}
rm ca-{{ .ClusterName }}.pem
            </code>
        </pre>
    </div>
</body>
</html>

